*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.eggs/
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# py.test
.cache
.pytest_cache/

.idea
.idea/*
temp.py
a.ini
dev_config.py

.env

# sphinx build output
doc/_build
