[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx-argparse = "==0.2.5"
Sphinx = "==1.8.3"
sphinx_rtd_theme = "==0.4.2"
isort = "==4.3.4"
flake8 = "==3.6.0"
pytest = "==4.0.2"
kaptan = {editable = true,path = "."}

[packages]
PyYAML = "<4,>=3.13"

[requires]
python_version = "2.7"
