[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = ">=3.13,<7"

[dev-packages]
sphinx-argparse = "*"
Sphinx = "*"
isort = "*"
flake8 = "*"
pytest = ">=4.4.1"
pytest-coverage = "*"
exceptiongroup = "==1.1.0"
kaptan = {editable = true,path = "."}
sphinx-rtd-theme = "*"

[requires]
python_version = "3"
