[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
sphinx-argparse = "==0.2.5"
Sphinx = "==2.0.1"
isort = "==4.3.15"
flake8 = "==3.7.5"
pytest = "==4.3.1"
kaptan = {editable = true,path = "."}
sphinx-rtd-theme = "==0.4.3"

[packages]
PyYAML = ">=3.13,<6"

[requires]
python_version = "3"
